<h1><%= @job.position %> at <%= @job.company %></h1>
<h6>Posted: <%= @job.posted_date %>, City: <%= @job.city %></h6>
<%= @job.description.html_safe %>
<% if @job.url %>
    <%= link_to 'External Job Posting', "http://#{@job.url}", target: "_blank" %>
    
<% end %>
<div>
</br>
