<h1>Welcome, <%= @user.name %>!</h1>
<p><%= @user.city %></p>

<% if flash[:welcome] %>
    <div class="alert alert-primary" role="alert">
        <%= flash[:welcome] %>
    </div>
<% end %>

<div class="container">
    <div class="row">
    <div class="col-md-6">
    <h2>Application overview</h2>
    <% @my_applications.each do |appl| %>
    <h4><%= appl.job.position %> at <%= appl.job.company %> <span class="status"><%= appl.status %></span></h4>
    <%= link_to "View Application", application_path(appl) %>
    <% end %>
    </div>
    <div class="col-md-6 todo-list">
        <h2>TO DO</h2>
        <h4>General tasks</h4>
        <%= render partial: 'tasks/task_list', locals: {tasks: @general_tasks, job_application_id: nil} %>
        <% @my_applications.each do |appl| %>
            <% if appl.tasks.any? %>
                <h4><%= link_to appl.job.position, application_path(appl) %> at <%= appl.job.company %></h4>
                <%= render partial: 'tasks/task_list', locals: {tasks: appl.tasks, job_application_id: appl.id} %>
            <% end %>
        <% end %>
    </div>
    </div>
    <div class="row">
        <div class = "col-12">
            <%= render partial: 'events/event_list', locals: {events: @events} %>
    
            <%#Add new event  %>
            <%= render partial: 'events/new_event', locals: {job_application_id: nil} %>
        </div>
    </div>
</div>

