<h1>Your application to: <%= @job.company %></h1>
<h2><%= @job.position %></h2>
<p><%= @job.description %></p>
<p>Posted: <%= @job.posted_date %></p>

<h1>Application status</h1>
<h2>Completed: <%= @job_application.completion_percentage %> / 100 %</h2>
<h2>Status:</h2>
<%= form_tag application_path, method: "patch" do %>
    <%= select_tag "job_application[status]", 
    options_for_select(JobApplication.status, 
    @job_application.status), 
    :onchange => "this.form.submit();" %>
<% end %>


<div>
    <h2>Tasks:</h2>
    <!-- List of tasks -->
    <ul>
        <% @tasks.each do |task| %>
            <li><%= form_tag task_path(task), method: "patch" do%><%= check_box('task','done',{:onchange => "this.form.submit();"},(task.done ? 0 : 1),(task.done ? 'true' : 'false' )) %>  <% end %> <%= task.description %> <%= link_to "x", task_path(task), method: "delete" %></li>
        <% end %>
    </ul>
     <%#Add new task  %>
     <%= form_tag tasks_path do %>
        <%= label_tag :description %>
        <%= text_field_tag "task[description]" %>
        <%= hidden_field_tag "task[job_application_id]", @job_application.id %>
        <%= submit_tag "Add Task" %>
     <% end %>
</div>

<div>
    <h2>Events:</h2>
    <!-- List of Events -->
    <ul>
        <% @events.each do |event| %>
            <li><%= event.title %> - <%= event.address %> - <%= event.date %> <%= link_to "x", event_path(event), method: "delete" %></li>
        <% end %>
    </ul>
     <%#Add new event  %>
     <%= form_tag events_path do %>
        <%= label_tag :title %>
        <%= text_field_tag "event[title]" %>
        <%= label_tag :address %>
        <%= text_field_tag "event[address]" %>
        <%= label_tag :date %>
        <%= date_field_tag "event[date]"%>
        <%= hidden_field_tag "event[job_application_id]", @job_application.id %>
        <%= submit_tag "Add Event" %>
     <% end %>
</div>