<div class="container">
<div class="row">
    <div class="col-8 application-details">
        <h1>Your application to <%= @job.company %></h1>
        <h2><%= @job.position %></h2>
        <p><%= @job.description %></p>
        <p>Posted: <%= @job.posted_date %></p>
    </div>
    <div class="col-2">
        <h2>Status:</h2>
        <%= form_tag application_path, method: "patch" do %>
            <%= select_tag "job_application[status]", 
            options_for_select(JobApplication.status, 
            @job_application.status), 
            :onchange => "this.form.submit();" %>
        <% end %>
    </div>
</div>
</div>
<h2>Application completion: <%= @job_application.completion_percentage %> / 100 %</h2>

<div>
    <h2>To do for this application:</h2>
    <!-- List of tasks -->
    <%= render partial: 'tasks/task_list', locals: {tasks: @tasks, job_application_id: @job_application.id} %>
     
</div>

<div>
    <h2>Events:</h2>
    <!-- List of Events -->
    <ul>
        <% @events.each do |event| %>
            <li><%= event.title %> - <%= event.address %> - <%= event.date %> <%= link_to "x", event_path(event), method: "delete" %></li>
        <% end %>
    </ul>
     <%#Add new event  %>
     <%= form_tag events_path, class:"form-inline" do %>
        <div class="form-group">
            <%= text_field_tag "event[title]",nil, {class: "form-control m-1", placeholder:"Event Title"} %>
        </div>
        <div class="form-group">
            <%= text_field_tag "event[address]",nil, {class: "form-control m-1", placeholder:"Address"}  %>
        </div>
        <div class="form-group">
            <%= date_field_tag "event[date]",nil, {class: "form-control m-1"} %>
        </div>
        <%= hidden_field_tag "event[job_application_id]", @job_application.id %>
        <%= submit_tag "Add Event", class: "btn btn-primary m-1" %>
        
     <% end %>
</div>