<% days_from = (event.date.to_datetime() - DateTime.now).to_i %>
<% if days_from == 0 %>
    <% date_str = "Today" %>
<% elsif days_from == 1 %>
    <% date_str = "Tomorrow" %>
<% elsif days_from <= 10 %>
    <% date_str = "In #{days_from} days" %>
<% else%>
    <% date_str = event.date.strftime('%A, %B %d') %>
<% end %>

<% if days_from < 0 %>

<% else %>
    <tr>
        <td><span class = "event-title"><%= event.title %></span></td>
        <td><span class="event-address"><%= event.address %></span></td>
        <td><span class="event-date"><%= date_str %></span></td>
        <td><span class="event-edit"><i class="fas fa-pencil-alt"></i></td>
        <td><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, event_path(event), method: "delete" %></td>
    </tr>
    <form action= "<%= event_path(event) %>" method="post" >
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="patch">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <tr>
            <td><%= text_field_tag 'event[title]', event.title %></td>
            <td><%= text_field_tag 'event[address]', event.address %></td>
            <td><%= date_field_tag 'event[date]', event.date %></td>
            <td><%= submit_tag 'Save'%></td>
            <td><span class="event-edit"><button>Cancel</button></td>
        </tr>
    </form>

<% end %>
    